$nc:0.244;

$imgPath:'../img';


/* here we go... */
@import "mixins";
@import "fonts";
@import "transition";
@import "image-set";
@import "box-sizing";
@import 'column-count'; 
@import 'box-shadow';
@import 'border-radius';

$megaheadPaddingTop:78px;
$megaheadPaddingTop480:40px;





.megahead {
	@include image-set('http://modxpdx.s3.amazonaws.com/assets/images/megahead_modxpdx.png', 'http://modxpdx.s3.amazonaws.com/assets/images/megahead_modxpdx_@2X.png?nc=' + $nc);
	@include breakpoint(480px) {
		@include image-set('http://modxpdx.s3.amazonaws.com/assets/images/modxpdx/megahead_mobile.png', 'http://modxpdx.s3.amazonaws.com/assets/images/modxpdx/megahead_mobile_@2X.png?nc=' + $nc);
		margin-top:-74px;
		padding-top:$megaheadPaddingTop480;
	}	
}  